<!DOCTYPE HTML>
<html>
<head>
    <title>Air Business</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
	<header>
		<a href="/index">
          <img th:src="@{/images/AirBusinessLogo.jpg}" height="64" width="64"/>
        </a>
        <p>Welcome to Air Business</p>
        <nav>
		    <p>Choose from the following</p>
			<p><a th:href="@{reservations}">Reservations</a></p>
			<p><a th:href="@{clients}">Clients</a></p>
			<p><a th:href="@{maintenance}">Pilots Submit Maintenance Request</a></p>
			<p><a th:href="@{maintenance}">Mechanics Update Maintenance Request</a></p>
		</nav>
	</header>   
</body>
</html>
